{% extends "base.html" %}{% block title %}Auditoría{% endblock %}
{% block crumbs %}<a href="{{ url_for('investigations.investigations') }}">Investigaciones</a> / Auditoría{% endblock %}
{% block heading %}<h1>Auditoría de informe</h1><p class="sub">{{ name }} · huella {{ digest[:16] }}…</p>{% endblock %}
{% block actions %}<a class="btn pri" href="{{ url_for('investigations.inv_export', cid=cid) }}">{{ icon('download', 15, '#fff') }}Paquete verificable</a>{% endblock %}
{% block body %}
{{ body|safe }}
{% endblock %}
